
@{
    ViewData["Title"] = "Booking Error";
}

<script>
    window.setTimeout(function(){
window.location.href='Create';
}, 3500);
</script>

<h1>There are no available rooms for these dates</h1>
<h3>You will be redirected to the Booking page.</h3>

