
@{
    ViewData["Title"] = "Wrong Dates";
}

<script>
    window.setTimeout(function(){
window.location.href='Create';
}, 3500);
</script>

<h1>The check in date cannot be greater than the check out date</h1>
<h3>You will be redirected to the Booking page.</h3>

